@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="table-responsive">

    <table class="table caption-top">
        <caption>List of users</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First </th>
                <th scope="col">Last</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>MarkMarkMarkMarkMarkMarkMark</td>
                <td>OttoOttoOttoOttoOttoOttoOttoOtto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>JacobJacobJacobJacobJacobJacobJacobJacobJacob</td>
                <td>ThorntonThorntonThorntonThorntonThorntonThorntonThornton</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>LarryLarryLarryLarryLarryLarryLarryLarry</td>
                <td>the Birdthe Birdthe Birdthe Birdthe Birdthe Birdthe Birdthe Birdthe Birdthe Birdthe Bird</td>
            </tr>
        </tbody>
    </table>
</div>

<div>

    <form asp-action="File" enctype="multipart/form-data" method="post">

        <label for="Arquivo" class="form-label">Escolha um arquivo</label>
        <input type="hidden" id="Id" class="form-control" name="id" value="123" />
        <input type="file" id="Arquivo" class="form-control" name="file" placeholder="Selecione um arquivo" />

        <button type="submit">
            Enviar
        </button>
    </form>

    <form asp-action="Download" method="post">
        <input name="fileName" value="test.html" />
        <button type="submit">
            Enviar Nome do arquivo
        </button>
    </form>

</div>


<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
        Default radio
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label" for="flexRadioDefault2">
        Default checked radio
    </label>
</div>


<div>
    <a asp-action="GetExcel" asp-route-id="1" class="btn btn-primary">Excel</a>
</div>


<div class="row">
    <div class="col-md-12 text-end">
        <button class="btn btn-primary">
            Teste
        </button>
    </div>

</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Detalhe</th>
            <th>Coluna 1</th>
            <th>Coluna 2</th>
            <th>Coluna 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <button class="btn btn-icon" data-bs-toggle="collapse" data-bs-target="#detalhes1" aria-expanded="false" aria-controls="detalhes1">
                    <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 3.5a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </button>
            </td>
            <td>Informação 1</td>
            <td>Informação 2</td>
            <td>Informação 3</td>
        </tr>
        <tr>
            <td colspan="4" class="collapse" id="detalhes1">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>Subcoluna 1</th>
                            <th>Subcoluna 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Detalhe 1</td>
                            <td>Detalhe 2</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>


<form asp-controller="Home" asp-action="ValidarModelStateSelectList" method="post">
    <div class="form-group mt-5">
        <label for="multiple-select-clear-field">Selecione Dia da Semana para validar ModelState</label>
        <select class="form-select"
                asp-items="@ViewBag.DiasSemana"
                name="DiasSemana">
            <option value="0"> ---- SELECIONAR ---- </option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-5">Enviar dia Semana para validar ModelState</button>
</form>

<form asp-controller="Home" asp-action="RecebeDiaSemana" method="post">
    <div class="form-group mt-5">
        <label for="multiple-select-clear-field">Selecione Dia da Semana</label>
        <select class="form-select"
                asp-items="@ViewBag.DiasSemana"
                name="selectedCountries">
            <option value="0"> ---- SELECIONAR ---- </option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-5">Enviar dia Semana</button>
</form>


@* data-placeholder="Choose anything" *@
<form asp-controller="Home" asp-action="ReceiveSelectedCountries" method="post">
    <div class="form-group mt-5">
        <label for="multiple-select-clear-field">Select Countries Multi Select</label>
        <select class="form-select"
                id="multiple-select-clear-field"
                asp-items="@ViewBag.Paises"
                name="selectedCountries"
                multiple>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-5">Enviar Lista de Paises</button>
</form>

<!--Single select-->
<div class="mt-5 mb-5">
    <form asp-controller="Home" asp-action="ReceiveSelectedCountries" method="post">
        <div class="form-group mt-5">
            <label for="multiple-select-clear-field">Select Countries Single Select</label>
            <select class="form-select"
                    id="single-select-field"
                    data-placeholder="Selecione"
                    asp-items="@ViewBag.Paises"
                    name="selectedCountries">
                <option value=""></option>
            </select>
            <button type="submit" class="btn btn-primary mt-5">Enviar Um Pais</button>
        </div>
    </form>
</div>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#countryModal">
    Abrir Modal
</button>

<div class="modal fade" id="countryModal" tabindex="-1" aria-labelledby="countryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="countryModalLabel">Select Country</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Home" asp-action="ReceiveSelectedCountries" method="post">
                    <div class="form-group">
                        <label for="test">Select Countries Single Select</label>
                        <select class="form-select"
                                id="test"
                                data-placeholder="Selecione"
                                asp-items="@ViewBag.Paises"
                                name="selectedCountries">
                            <option value=""></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Enviar Um Pais</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.fn.modal.Constructor.prototype.enforceFocus = function () { };

            $('#multiple-select-clear-field').select2({
                theme: "bootstrap-5",
                width: '100%',
                placeholder: $(this).data('placeholder'),
                closeOnSelect: false,
                allowClear: true
            });

            $('#single-select-field').select2({
                theme: "bootstrap-5",
                width: '100%',
                placeholder: $(this).data('placeholder'),
                closeOnSelect: true, //Fecha ao selecionar o item
                allowClear: true
            });

            $("#test").select2({
                dropdownParent: $("#countryModal"),
                theme: "bootstrap-5",
                width: '100%',
                placeholder: $(this).data('placeholder'),
                closeOnSelect: true, // Close on select
                allowClear: true
            });
        });
    </script>
}