@model Aluno

<!-- Modal -->
<div class="modal fade" id="@Html.Raw("adicionar")" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Aluno</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Create" method="post" id="formAdicionarAluno">
                <div class="modal-body">

                    <div class="form-group mb-3">
                        <!--Campo hidden o JS nao valida-->
                        <label asp-for="@Model.Nome" class="control-label" hidden></label>
                        <input asp-for="@Model.Nome" class="form-control" hidden />
                        <span asp-validation-for="@Model.Nome" class="text-danger" ></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="@Model.DataNascimento" class="control-label"></label>
                        <input asp-for="@Model.DataNascimento" type="month" class="form-control" min="1980-01" max="9999-01" />
                        <span asp-validation-for="@Model.DataNascimento" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="@Model.Email" class="control-label"></label>
                        <input asp-for="@Model.Email" class="form-control" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="@Model.Avaliacao" class="control-label"></label>
                        <input asp-for="@Model.Avaliacao" class="form-control" />
                        <span asp-validation-for="@Model.Avaliacao" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check mt-3">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="@Model.Ativo" />
                            @Html.DisplayNameFor(model => model.Ativo)
                        </label>
                    </div>
                </div>
                <!--o evento de preventDefault evita que o formulario seja enviado onclick="event.preventDefault();"-->
                <!--Interessante usar quando tem uma modal que chama outra modal, pq o botao da primeira ao ser clicado ja envia o form, com isso podemos evitar o envio e so enviar na segunda modal-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="limparValoresFormulario('formAdicionarAluno')">Close</button>
                    <button type="submit" class="btn btn-info">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>