@model IEnumerable<Aluno>

@{
    ViewData["Title"] = "DataAnnotation";
    var novoAluno = new Aluno();
}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adicionar">
    Adicionar
</button>

<div>
    <partial name="_CreatePartial" model="novoAluno" />
</div>

<div class="table-responsive mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.DataNascimento)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Avaliacao)</th>
                <th>@Html.DisplayNameFor(model => model.Ativo)</th>
                <th>@Html.DisplayNameFor(model => model.Saldo)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataNascimento)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Avaliacao)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ativo)</td>
                    <td class="money">@Html.DisplayFor(modelItem => item.Saldo)</td>
                    <td>
                        <button type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-tt="tooltip" title="Olá Mundo!"
                                data-bs-target="@Html.Raw("#editar" + item.Id)">
                            Editar
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@Html.Raw("#excluir" + item.Id)"
                                data-tt="tooltip" title="Excluir">
                            Excluir
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12 text-end">
        <form asp-action="GerarPDF"
              method="post">
            <button class="btn btn-primary">
                Gerar PDF
            </button>
        </form>
    </div>

</div>

<!--Os formularios devem estar sempre na raiz do html, nunca dentro de algo, que pode ser que as validacoes nao funcionem-->
<!--O Mesmo vale para a validacao do boostrap, ele nao se encotra dentro por exemplo de tbody da tabela, igual o do jquery.validate.unobtrusive-->
<div>
    @foreach (var item in Model)
    {
        <!--A partial view nao eh obrigatoria, poderia ser aqui dentro deste foreach a modal-->
        <partial name="_UpdatePartial" model="@item" />
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @{
        // Criação do Dictionary para mapear Avaliação -> Script
        var scriptMappings = new Dictionary<int, string>
        {
            { 4, "~/js/test.js" },
            { 5, "~/js/anotherTest.js" },
            { 6, "~/js/yetAnotherTest.js" }
        };

        // Pegue o valor da avaliação
        var value = Model.First().Avaliacao;

        // Verifique se há um script correspondente
        if (scriptMappings.TryGetValue(value, out var scriptPath))
        {
            <script src="@Url.Content(scriptPath)"></script>
        }
    }

    <script>

        function confirmSubmit(event) {
            event.preventDefault();

            console.log('chamou a funcao');
            const form = event.target;
            console.log(form);

            // Aguarda um pequeno intervalo para garantir que a validação foi processada
            setTimeout(() => {
                // Verifica se há erros de validação no formulário
                const hasErrors = $(form).find('.input-validation-error').length > 0;
                console.log(hasErrors);
                // if (form.valid())
                if (!hasErrors) {
                    Swal.fire({
                        title: 'Atenção!',
                        text: "Você deseja realmente enviar o formulário?",
                        //icon: 'warning',
                        showCancelButton: true,
                        // confirmButtonColor: '#3085d6',
                        // cancelButtonColor: '#d33',
                        confirmButtonText: 'Salvar',
                        cancelButtonText: 'Cancelar',
                        reverseButtons: true,
                        customClass: {
                            confirmButton: 'btn btn-primary ms-2',
                            cancelButton: 'btn btn-outline-secondary',
                            title: 'swal2-title',
                            htmlContainer: 'swal2-html-container',
                        },
                        buttonsStyling: false //Desabilita os estilos originais do swet alert, para obter do botstrap
                    }).then((result) => {
                        if (result.isConfirmed) {
                            form.submit();
                        }
                    });
                }
            }, 150); // 100ms timeout to ensure validation errors are processed
            return false;
        }
    </script>

    <script>

        $(function () {
            // = document.ready
            console.log('test tooltip');
            $("[data-tt=tooltip]").tooltip();
        });
        
    </script>
}
